# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime data
pids/
*.pid
*.pid.lock

# Node modules
node_modules/

# Build output
dist/
dist-ssr/
.out/
out.css
dev-dist/

# Vite cache
.vite/

# Testing
coverage/
*.lcov

# TypeScript
*.tsbuildinfo

# Environment files
.env
.env.*.local

# Editor directories and files
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Lockfiles (optional: uncomment depending on the package manager you use)
# yarn.lock
# pnpm-lock.yaml
